body{
    background-color: rgb(237, 237, 237);
}

.out-user-icon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(204, 204, 204);
}

.fa-squarespace{
    color: blue;
}


.fa-chevron-up{
    color: rgb(109, 210, 156);
    font-size: 20px;
}


.fa-chevron-down{
    color: rgb(244, 122, 122);
    font-size: 20px;
}

.content{
    background-color: rgb(248, 244, 244);
}

h4,h5{
    color: rgb(86, 85, 85);
}